*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    padding: 25px 25px;
}

div#root {
    width: 100vw;
}

main {
    width: 100%;
}

.TeamSelection {
    width: 600px;
    margin: 0 auto;

    display: inline;
}

.TeamSelection > select#teamDropDown {
    width: 50%;
    border-radius: 5px;
    border: 1.5px solid gray;
    background-color: white;
    height: 35px;
    margin: 0 auto;
    display: block;
    font-weight: 600;
}

.card-Container {
    width: 70vw;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
    /* border: 1px solid black; */
    justify-content: center;
}

.card-Container > .card{
    width: 30vw;
    height: 20vh;
    min-width: 150px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3), -2px -2px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    position: relative;
    background-color: white;
}

.card-Container > .card > img {
    width: 70%;
    max-width: 115px;
    margin-top: -70px;
    border: 5px solid red;
    border-radius: 100%;
    padding: 0 auto ;
}

.card-Container > .card > .info {
    background-color: red;
    width: 100%;
    position: absolute;
    height: calc(100% - 50px);
    padding-top: 10px;
    bottom: 0px;
    border-radius: 0 0 10px 10px;
}

.card-Container > .card > .info > p.card-name {
    font-size: large;
    font-weight: 700;
    text-align: center;
    color: white;
}

.card-Container > .card > .info > p.designation {
    font-size: large;
    text-align: center;
    color: white;
}

.card-Container > .card.standOut {
    border: 2px solid black;
}